[submodule ".vim/pack/suckless/start/vim-go"]
	path = .vim/pack/suckless/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/suckless/start/nord-vim"]
	path = .vim/pack/suckless/start/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
[submodule ".vim/pack/suckless/start/vim-fugitive"]
	path = .vim/pack/suckless/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/suckless/start/vim-airline"]
	path = .vim/pack/suckless/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
